<p-card>
  <ng-template pTemplate="header">
    <img class="object-cover h-[190px]" [src]="nft.image" alt="New NFT" />
  </ng-template>
  <p class="text-sm font-medium">Creatures NFT</p>
  <div class="block mt-2">
    <p class="text-xl font-semibold">{{ nft.name }}</p>
    <p class="mt-3 mb-3 text-base h-[40px]">
      {{ nft.description.length > 80 ? (nft.description | slice : 0 : 80) + '... read more' : nft.description }}
    </p>
  </div>
  <dl class="flex gap-[2rem] flex-wrap">
    <div *ngFor="let attribute of nft.attributes" class="pt-4">
      <dd class="text-xl font-extrabold">
        <div class="flex justify-center items-center">
          {{ attribute.trait_type | titlecase }}
        </div>
      </dd>
      <dt class="text-sm font-medium">{{ attribute.value }}</dt>
    </div>
  </dl>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" class="disabled:cursor-not-allowed mr-3 text-gray-400 p-button-primary" label="Buy"></button>
    <button pButton pRipple type="button" class="disabled:cursor-not-allowed text-gray-400 p-button-text" label="Preview"></button>
  </ng-template>
</p-card>
