$footerHeight: 3.75rem;
$menubarHeight: 5.25rem;

// --- UI --- //
// Light mode
$boxshadow-color: #b6cef1;
$network-indicator-color: #0daf0d;
$border-color: #ced4da;
$input-bcg: #ffffff;
$placeholder-color: #6c757d;

// Dark mode
$darkmode-boxshadow-color: #ffffff20;
$darkmode-network-indicator-color: #39ff39;
$darkmode-border-color: #0b213f;
$darkmode-input-bcg: #040d19;
$darkmode-placeholder-color: #ffffff99;
