<p-card>
  <ng-template pTemplate="header">
    <img
      class="object-cover h-[190px]"
      src="https://eincode.mypinata.cloud/ipfs/QmaQYCrX9Fg2kGijqapTYgpMXV7QPPzMwGrSRfV9TvTsfM/Creature_1.png"
      alt="New NFT" />
  </ng-template>
  <p class="text-sm font-medium">Creatures NFT</p>
  <div class="block mt-2">
    <p class="text-xl font-semibold">Eincode Creature #1</p>
    <p class="mt-3 mb-3 text-base">Fierce violet creature. Very durable and tanky.</p>
  </div>
  <dl class="flex gap-[2rem] flex-wrap">
    <div class="pt-4">
      <dd class="text-xl font-extrabold">
        <div class="flex justify-center items-center">
          100
          <!--  <img
            class="h-6"
            src="/images/small-eth.webp" /> -->
          ETH
        </div>
      </dd>
      <dt class="text-sm font-medium">Price</dt>
    </div>
    <div class="pt-4">
      <dd class="text-xl font-extrabold">100</dd>
      <dt class="text-sm font-medium">Health</dt>
    </div>
    <div class="pt-4">
      <dd class="text-xl font-extrabold">40</dd>
      <dt class="text-sm font-medium">Attack</dt>
    </div>
  </dl>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      class="disabled:cursor-not-allowed mr-3 text-gray-400 p-button-primary"
      label="Buy"></button>
    <button
      pButton
      type="button"
      class="disabled:cursor-not-allowed text-gray-400 p-button-text"
      label="Preview"></button>
  </ng-template>
</p-card>
